* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signin-page {
  background-image: linear-gradient(
      40deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 100, 0, 0.8)
    ),
    url("https://png.pngtree.com/thumb_back/fw800/background/20230913/pngtree-cell-phone-and-paper-speech-bubbles-next-to-blue-surface-of-image_13274584.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin-form {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  width: 400px;
  padding: 60px;
  border-radius: 10px;
  height: 400px;
  background-color: white;
}
.signin-form h2 {
  color: darkgreen;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 20px;
}
.signin-form input {
  padding: 10px;
  margin: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: whitesmoke;
}
.signin-form button {
  padding: 10px;
  margin: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: darkgreen;
  color: white;
  font-weight: bold;
  outline: none;
}
.signin-form button:hover {
  background-color: rgb(28, 138, 28);
}
.signinlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-top: 7px;
  margin-left: 20px;
}
.signinlinks span a {
  text-decoration: none;
  color: darkgreen;
  font-weight: bold;
  /* font-size: 12px; */
}
.fp:hover {
  text-decoration: underline;
  color: red;
}
