.chatAreaBody {
  box-shadow: 0 0 1px gray;
  overflow-y: auto;
}
.message {
  width: 200px;
  display: flex;
  justify-self: flex-end;
  margin: 10px;
  padding: 10px;
  flex-direction: column;
  max-width: 60%;
  padding: 8px 12px;
  border-radius: 10px;
}


.message-time {
  font-size: 11px;
  margin-top: 4px;
  opacity: 0.6;
  align-self: flex-end;
  color: rgb(70, 68, 68);
}

.send-message {
  background-color: #cef5b0;
  justify-self: flex-end;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.received-message {
  justify-self: flex-start;
  background-color: rgba(212, 212, 206, 0.58);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: black;
}
.message-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  font-size: 11px;
  color: #999;
  margin-top: 3px;
}

.message-status {
  font-size: 12px;
}
