.chatAreaBody {
  box-shadow: 0 0 1px gray;
  overflow-y: auto;
}
.message {
  width: 200px;
  display: flex;
  justify-self: flex-end;
  margin: 10px;
  padding: 10px;
}

.send-message {
  background-color: #cef5b0;
  justify-self: flex-end;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.received-message {
  justify-self: flex-start;
  background-color: rgba(212, 212, 206, 0.58);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: green;
}
