.page-not-found{
    height: 100vh;
    width: 100%;
    background-color: green;
    text-align: center ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page-not-found h1{
   font-size: 100px;
   color: white;
}
.page-not-found p{
    font-size: 15px;
    color: white;
}
.page-not-found-link{
    font-size: 20px;
    font-weight: bolder;
    color: darkgreen;
    text-decoration: none;
    margin-top: 20px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
}