.aside-users-profile {
  box-shadow: 0 0 10px green;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 50%;
}
.pic-users {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.chat-users-profile {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 100%;
  position: relative;
}
.aside-users-profile img {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}
.asideusers h2 {
  color: green;
  margin-left: 10px;
}
.asideusers p {
  color: rgb(118, 119, 118);
  margin-left: 10px;
}
.aside-users-profile {
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.aside-users-profile.active {
  background-color: green;
  color: white;
}

.aside-users-profile.active h2,
.aside-users-profile.active p {
  color: white;
}
.aside-users-profile.active img {
  border: 1px solid white;
}
.mode {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  position: absolute;
  margin-left: 35px;
  margin-top: 40px;
}
