.aside-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 80%;
  height: 50%;
  background-color: white;
  box-shadow: 0 0 3px gray;
  padding: 5px;
}
.search-box i {
  font-size: 25px;
  text-align: center;
  color: green;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  margin-left: 15px;
}
.search-box input::placeholder {
  margin-left: 50px;
  color: rgba(0, 128, 0, 0.441);
  font-style: italic;
}
